@font-face {
    font-family: "satellite";
    src: url("satellite.eot");
    src: url("satellite.eot") format("embedded-opentype"),
         url("satellite.woff2") format("woff2"),
         url("satellite.woff") format("woff"),
         url("satellite.ttf") format("truetype"),
         url("satellite.svg#SatelliteRegular") format("svg");
}


.thinkers{
    margin:150px;
}



.conntt{
    background: #2D2C2C;
    width: 100%;
}

.conntt form{
    margin: 80px ;
    font-size: 2em;
}

.color-yt{
    color: #BB0000;
    
    text-shadow: 1px 1px 55px #fff;

}

.color-yt:hover {
    color: #D9291D;

    text-shadow: 1px 1px 55px #fff;
}


.color-fb{
    color: #3B5998;
    text-shadow: 1px 1px 55px #fff;
}

.color-fb:hover {
    color: #496EBD;

    text-shadow: 1px 1px 55px #fff;
}

.color-tw{
    color: #00ACED;
    text-shadow: 1px 1px 55px #fff;
}

.color-tw:hover {
    color: #00CFFF;

    text-shadow: 1px 1px 55px #fff;
}

.color-fs{
    color: #F94877;
    text-shadow: 1px 1px 55px #fff;
   }

   .color-fs:hover {
    color: #F95F88;

    text-shadow: 1px 1px 55px #fff;
}



.color-v{
    color: #00A478;
    text-shadow: 1px 1px 55px #fff;
}

.color-v:hover {
    color: #00D69D;

    text-shadow: 1px 1px 55px #fff;
}





.color-vim{
    color: #009ADA;
    text-shadow: 1px 1px 55px #fff;
}

.color-vim:hover {
    color: #00B4FF;

    text-shadow: 1px 1px 55px #fff;
}



.color-ins{
    color: #3F729B;
    text-shadow: 1px 1px 55px #fff;

}

.color-ins:hover {
    color: #4E8DBF;

    text-shadow: 1px 1px 55px #fff;
}



.color-g{
    color: #DD4B39;
    text-shadow: 1px 1px 55px #fff;
}

.color-g:hover {
    color: #FF624F;

    text-shadow: 1px 1px 55px #fff;
}


#about h2{
    color:#E0A922;
    font-size: 3em;

}

.lin1{
    
    border: 0; border-top: 1px solid #E0A922;
}

.lin12{
    border: 0; border-top: 1px solid #CE7539;

}

#about{

    width: 100%;
    margin-bottom: 0px;
      background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: px 3px;
}


.plaier{
    width: 100%;
    background-color: black;
    border: solid 10px black;
}


#contact{
    box-shadow: 0px -1px 12px #000;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: px 3px;

}

#contact h2{
    font-size: 3em;
    color: #CE7539;
}

body {
    width: 100%;
    height: 100%;
    font-family: satellite;
    font-size: 2em:;
    color: #fff;
    background-color: #272525;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: satellite;
    font-weight: 700;
    letter-spacing: 1px;

}

p {
    margin: 0 0 25px;
    font-size: 1.6em;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 2.2em;
        line-height: 1.6;
    }
}

a {
    color: #ce4339;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #CE7539;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: satellite;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0px;
    text-align: center;
    color: #fff;
    background: url(../img/bg.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 3px 12px #000;

}



.intro-body {
    display: table-cell;
    vertical-align: top;

}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro-body {
        vertical-align: top;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/bgg.png) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 3px 12px #000;


}


@media(min-width:767px) {
    .content-section {
        padding-top: 50px;
    }

    .download-section {
        padding: 100px 0;
    }

    
}

.btn {
    text-transform: uppercase;
    font-family: satellite;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    
    .conntt form{
    margin: 20px ;
    font-size: 1.5em;
}


.step{
    font-size: 0.5em;
}


 
}


.step{
    font-size: 3em;
}

.page-top{
    margin-top: 0px;
}



}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



footer{
    height: 10%;
}